.row {
    background-color: white;
}
.type-line, .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.padding{
    padding:25px;
}


.circle {
    padding:0px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #EEBA4C;
    overflow:hidden;
    border:1px solid black;
    box-shadow:0 0 5px 2px black;

    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;

    cursor:pointer;
}

.circle:hover > .triangle{
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;

    
    border-bottom: 40px solid #7FFFD4;
}

.circle:hover > .triangle-down{
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;

    
    border-top: 40px solid #7FFFD4;
}

.circle:hover{
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;

    border:1px solid gray;
    box-shadow:0 0 5px 2px #7fffd4;
}

.triangle {
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;


    width: 50px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid gray;

    transform:translateX(-1px)
}

.triangle-down {
    /*transform:rotate(180deg) translateY(-8px);*/
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;

    bottom:0;
    width: 50px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid gray;
    margin-top:8px;

    transform:translateX(-1px)
}

@media (max-width: 511px) {
    .circle{
        width:30px;
        height:30px;
    }
    .triangle {
        margin-top:-2px;
        width:25px;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 26px solid gray;

        transform:translateX(1px);
    }
    .triangle-down{
        margin-top:4px;
        width:25px;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 26px solid gray;


        transform:translateX(1px);
    }
    .circle:hover > .triangle{
        border-bottom: 25px solid #7FFFD4;
    }
    .circle:hover > .triangle-down{
        border-top: 25px solid #7FFFD4;
    }
}


/*Report Partial View*/

.report-click{
    
}