
@{
    ViewBag.Title = "Error404";
}

<h1 class="h-speak">This page does not seem to exist</h1>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <input type="button" class="form-control submit-button" value="Home Page" 
               onclick="window.location = '@Url.Action("Index","Home")'"/>
    </div>
</div>


