
@{
    ViewBag.Title = "JqueryObj";
}

<h2>JqueryObj</h2>


<input type="button" class="submit-button form-control" onclick="nextarray()" value="submit"/>

<script src="~/Scripts/Ztest/JqueryObj.js"></script>

